*{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', 'Playfair Display', sans-serif;
    
}
.content{
    max-width: 901px;
    margin: 0 auto;
   }
.menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
   
}
.menu__item{
    display: inline-block;
    padding: 63px;
    
}
.menu__link{
    text-decoration: none;
    text-transform: uppercase;
    color: #8c8c8c;

}
.menu__link:hover{
    color: #03a9f4;
}
.section__item{
    width: 901px;
    margin: 0;
    padding: 0;
    
}
.box__right{
    display: inline-block;
    width: 421px;
    

 
}
.names{
text-align: left;
text-transform: uppercase;
padding-bottom: 28px;
padding-top: 30px;
color: #c7c1b6;
}
.names__title{
text-align: center;
padding-bottom: 37px;
color: #e8e8e8;
}
.text{
text-align: center;
margin-bottom: 31px;
color: #c7c1b6;
}
.box__left{
    display: inline-block;
    text-align: left;
    width: 421px;
    margin-right: 55px;
    
}
.button{
    color: #626262;
    text-align: center;
}
.btn{
    background-color: white;
  color: #626262;
  border: 1px solid #555555;
  display: inline-block;
  text-align: center;
  padding: 27px 36px;
  margin-top: 60px;
  margin-bottom: 70px;
}


